.idea/*
*.cbp
*.xml
*.log
*.txt
docs/
bin/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
Makefile
Panther.cbp
src/test/CMakeFiles
src/cmake_install.cmake
src/Makefile
src/CMakeFiles
deps/
deps/src/HElib/Makefile
data/
